---

import { gen_random_id } from "../../lib/utils/string-utils";
export interface Props {
	/**
	 * Whether this is a player's canvas. If so, we listen for their key press events
	 */
	is_player_canvas: boolean;
	scale: number;
}

const props = Astro.props;

// TODO: make the id equal to the loginned user's ID.
const id = gen_random_id();
---

<div class="canvas-container">
	<div class="canvas-inner-container">
		{props.is_player_canvas &&
			<canvas
				data-type="swap-canvas"
				data-id={id}
				id={id + "-swap"}
				width="100"
				height="100"
			>
			</canvas>
		}
		<canvas
			id={id}
			data-id={id}
			data-type="arena-canvas"
			data-isplayer={props.is_player_canvas}
			data-scale={props.scale}
			width="200"
			height="400"
		>
		</canvas>
		{props.is_player_canvas &&
			<canvas
				data-id={id}
				data-type="next-tetromino-canvas"
				id={id + "-next-tetromino"}
				width="100"
				height="100"
			>
			</canvas>
		}
		</canvas>
	</div>
</div>

<style>
canvas {
	border: 1px solid hsl(var(--text));
	touch-action: none;
}

[data-type=arena-canvas] {
	width: 100%;
	height: 100%;
	position: relative;
}

[data-type=next-tetromino-canvas],
[data-type=swap-canvas] {
	align-self: flex-start;
}

.canvas-inner-container {
	display: flex;
	gap: 2rem;
}
.canvas-container {
	display: grid;
	place-items: center;
}
</style>

